<section class="basis-full sm:basis-5/12 mb-12">
  <h2 id="education" class="h2 mb-4">Education</h2>

  <article>
    <h3 class="h3 mb-1">Systems Engineer Degree</h3>
    <p class="text-gray-500 mb-2">
      <time datetime="2002-02-11">2002</time>
      -
      <time datetime="2008-11-21">2008</time>
    </p>
    <p>
      <a href="https://www.umss.edu.bo/" target="_blank" class="anchor">Universidad Mayor de San Simón</a>.
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">Berlitz French Learning Program</h3>
    <p class="text-gray-500 mb-2">
      <time datetime="2010-06-07">2010</time>
      -
      <time datetime="2011-03-18">2011</time>
    </p>
    <p>French language, basic level.</p>
  </article>

  <article>
    <h3 class="h3 mb-1">English Program, American Languaje Course</h3>
    <p class="text-gray-500 mb-2">
      <time datetime="2008-04-03">2008</time>
      -
      <time datetime="2010-10-11">2010</time>
    </p>
    <p>
      <a href="http://www.escueladeidiomasejto.com/" target="_blank" class="anchor">Escuela de Idiomas del Ejercito Bolivia</a>
      <br/>
      Language learning program for the Bolivian army.</p>
  </article>

  <article>
    <h3 class="h3 mb-1">Training course for rescue</h3>
    <p class="text-gray-500 mb-2">
      <time datetime="2009-02-07">2009</time>
      -
      <time datetime="2010-09-02">2010</time>
    </p>
    <p>Grupo de salvamento SAR-Bolivia
      <br/>
      Volunteer in rescue and first aid for SAR group in the city of Cochabamba.</p>
  </article>

  <article>
    <h3 class="h3 mb-1">Computer assembly</h3>
    <p class="text-gray-500 mb-2">
      <time datetime="2006-06-27">2006</time>
      -
      <time datetime="2007-11-08">2007</time>
    </p>
    <p>
      <a href="https://www.umss.edu.bo/" target="_blank" class="anchor">Universidad Mayor de San Simón</a>
      <br/>
      Assembly and Repair of computers.</p>
  </article>

</section>
