<section class="px-4 lg:px-0 mb-12">
  <h2 class="h2 mb-4">Work Experience</h2>
  
  <article>
    <h3 class="h3 mb-1">Senior Frontend react developer</h3>
    <p class="text-gray-500 mb-2">
     LettuceGrow
      <time datetime="2022-05">2022</time>
      -
      <time datetime="2023-04">2023</time>
    </p>
    <p>
      Working remotely with the LettuceGrow startup using
      <a href="https://www.gatsbyjs.com/" class="anchor" target="_blank">GatsbyJS</a>,
      <a href="https://www.datocms.com/" class="anchor" target="_blank">DatoCMS</a>,
      <a href="#" class="anchor" target="_blank">Redux</a>,
      <a href="#" class="anchor" target="_blank">Sagas</a>,
      <a href="#" class="anchor" target="_blank">Scrum</a>,
      <a href="#" class="anchor" target="_blank">GitFlow</a>,
      <a href="#" class="anchor" target="_blank">Firebase</a>
    </p>
    <p>
      I extended the existing website to provide: a new mobile/desktop menu. Repurposed the My Farm section to provide Recommended orders based on past purchases history.
    </p>
    <p>
      We also implemented a One click solution to convert a Recommended order into an actual order, with support to edit the order items using a customizable interface.
    </p>
    <p>
      Along with the FE team we designed a Feature Flag System to allow for A/B experiments to be executed smootly across the website with a combination of contentful data and custom Context API + custom hooks functions.
    </p>
    <p>
      Updating the overall structure we enabled the launch of a brand new product using the feature flag previously developed to allow preorders from early buyers.
    </p>
    <p>
      I worked on the newest planned V2 development Internal Ops system based on their existing platform designed from sracth with the aim to have better performance and GUI while retaining the existing features and improving/adding new requested features. 
    </p>
  </article>
  
  <article>
    <h3 class="h3 mb-1">Senior Frontend developer/Freelancer</h3>
    <p class="text-gray-500 mb-2">
      MattressZone
      <time datetime="2021-01">2021</time>
      -
      <time datetime="2022-06-06">2022</time>
    </p>
    <p>
      Working remotely I developed a series of websites to promote affiliate links using
      <a href="https://www.gatsbyjs.com/" class="anchor" target="_blank">GatsbyJS</a>,
      <a href="https://www.datocms.com/" class="anchor" target="_blank">DatoCMS</a>
      and
      <a href="https://tailwindcss.com/" class="anchor" target="_blank">TailwindCSS.</a>
    </p>
    <p>All the websites are fully responsive with support for
      <span class="label">Dark mode</span>,
      <span class="label">Accesbility</span>
      and
      <span class="label">Multiple languages</span>.
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">Web developer</h3>
    <p class="text-gray-500 mb-2">
      Incore
      <time datetime="2020-01">2020</time>
      -
      <time datetime="2021-01">2021</time>
    </p>
    <p>
      Working remotely for a software agency that develops custom tailored website applications and
      <span class="label">E-commerce</span>
      using
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>,
      <a href="https://roots.io/sage/" class="anchor" target="_blank">Sage</a>
      <span class="label">Vanilla JS</span>, <span class="label">Sass</span>, 
      <a href="https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/" target="_blank" class="anchor">ITCSS</a>, 
      <a href="https://getbem.com/" target="_blank" class="anchor">BEM</a>
      and
      <a href="https://getbootstrap.com/" class="anchor" target="_blank">Bootstrap.</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">Software applications and web development as a Freelancer</h3>
    <p class="text-gray-500 mb-2">
      Freelancer
      <time datetime="2018-01">2018</time>
      -
      <time datetime="2020-01">2020</time>
    </p>
    <p>
      Learned the benefits and challenges as a freelenacer to improve the:
      <span class="label">Client communication</span>,
      <span class="label">How to run costs</span>,
      <span class="label">Time management</span>,
      <span class="label">How to establish my brand
      </span>
      and of course my favourite...
      <span class="label">Work from home during the pandemic!</span>.
    </p>
    <p>
      I focused mostly on
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>
      and
      <a href="https://reactjs.org/" class="anchor">ReactJS</a>
      projects during this time.
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">Web developer</h3>
    <p class="text-gray-500 mb-2">
      WillingWeb
      <time datetime="2014-01">2014</time>
      -
      <time datetime="2018-01">2018</time>
    </p>
    <p>
      A software agency that develops custom tailored website applications and
      <span class="label">E-commerce</span>
      using
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>,
      <a href="https://oceanwp.org/" class="anchor" target="_blank">OceanWP</a>, developing custom widgets and addons for
      <a href="https://elementor.com/" class="anchor" target="_blank">Elementor</a>
      and
      <a href="https://getbootstrap.com/" class="anchor" target="_blank">Bootstrap.</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">Web developer</h3>
    <p class="text-gray-500 mb-2">
      NoozooDesign
      <time datetime="2010-07">2010</time>
      -
      <time datetime="2014-01">2014</time>
    </p>
    <p>
      Working remotely for a web software agency that develops custom tailored website applications for
      <span class="label">e-learning</span>
      platform and services using:
      <a href="https://www.drupal.org/" class="anchor" target="_blank">Drupal</a>,
      <a href="https://moodle.org/" class="anchor" target="_blank">Moodle</a>,
      <a href="https://www.codeigniter.com/" class="anchor" target="_blank">CodeIgniter</a>
      and
      <a href="https://get.foundation/" class="anchor" target="_blank">Foundation</a>
    </p>
    <p>
      The main advantage of working for this company was that I learned the Adaptability and Flexibility to work on multiple frameworks and setups.
    </p>
    <p>
      I also created a custom spreadsheet application with the goal to be used as a tool to train users with advanced usages for excel and similar programs,
      by providing a series of excercices with automatic validation, ease of customization and the creation of new exercises.
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">Web developer</h3>
    <p class="text-gray-500 mb-2">
      Validoc
      <time datetime="2010-01">2010</time>
    </p>
    <p>
      A software agency that focused on the development of
      <span class="label">E-commerce</span>
      and
      <span class="label">Progressive web apps</span>, using mostly
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">Project Manager</h3>
    <p class="text-gray-500 mb-2">
      DesignBoxweb
      <time datetime="2009-01">2009</time>
      -
      <time datetime="2010-01">2010</time>
    </p>
    <p>
      A web software agency that develops custom tailored website applications using:
      <a href="https://www.codeigniter.com/" class="anchor" target="_blank">CodeIgniter</a>
      and
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>
    </p>
    <p>
      When I joined the crew in DesignBoxweb I inherited a very unstable CMS that it was a mystery to the other employees, a web application that was inaccessible and only worked in Internet Explorer, and a technical team that had no members.
    </p>
    <p>
      I redesigned the CMS giving it more stability and scalability according to customer requirements of this project, and managed to build a successful technical team.
    </p>
    <p>
      I ended up developing a custom CMS after that experience based on CodeIgniter that I used during my freelancer stage.
    </p>
    <p>
      Working with
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>
      I managed to implement a very clean structure that provided a solid foundation for the websites to receive updates safely over time.
    </p>

  </p>
</article>

<article>
  <h3 class="h3 mb-1">Project Manager</h3>
  <p class="text-gray-500 mb-2">
    WebStudio
    <time datetime="2018-01">2007</time>
    -
    <time datetime="2020-01">2009</time>
  </p>
  <p>
    A local web software agency that develops custom tailored website applications using:
    <a href="https://www.codeigniter.com/" class="anchor" target="_blank">CodeIgniter</a>,
    <a href="https://cakephp.org/" class="anchor" target="_blank">CakePHP</a>,
    <a href="https://symfony.com/" class="anchor" target="_blank">Symfony</a>,
    <a href="https://www.zen-cart.com/" class="anchor" target="_blank">Zen-cart</a>
  </p>
  <p>
    This was my first serious job. And I was able to move up the ranks from
    <span class="label">Programer</span>
    to
    <span class="label">Team Lead</span>
    to
    <span class="label">Project Manager</span>, and sometimes Designer roles, but all of this happened over many iterations, 
    so one of the best achievements for me was that I was able to experience the whole process and improve my technical and soft skills.
  </p>
</article>

<article>
  <h3 class="h3 mb-1">English teacher</h3>
  <p class="text-gray-500 mb-2">
    Bolivian Army Language School
    <time datetime="2009-01">2009</time>
    -
    <time datetime="2010-01">2010</time>
  </p>
  <p>
    This was a nice side gig at a language school. That allowed me to improve my
    <span class="label">English</span>
    level but also my
    <span class="label">Teaching</span>
    and
    <span class="label">Learning</span>
    strategies.
  </p>
</article>

</section>
