<section class="px-4 lg:px-0 mb-12">
  <h2 id="experience" class="h2 mb-4">Work Experience</h2>
  <article>
    <h3 class="h3 mb-1">Senior Frontend React Developer</h3>
    <p class="text-gray-500 mb-2">
      <a href="https://petcolove.org/" class="anchor" target="_blank">PetcoLove.org</a>
      <time datetime="2023-09">2023</time>
      -
      <time datetime="2025">2025</time>
    </p>
    <p>
      I had the opportunity to lead the development of
      <a href="https://petcolove.org/" class="anchor" target="_blank">petcolove.org</a>, an extensive project that encompasses
        multiple sub-websites. The main website serves as a valuable resource for pet owners, providing an array of helpful
        links. Additionally, it features a sophisticated donate form that supports multiple steps,
      <a href="https://stripe.com/" class="anchor" target="_blank">Stripe payments</a>,
      <a href="https://www.paypal.com/" class="anchor" target="_blank">PayPal</a>, credit cards, and the unique option
                        to
      <a href="https://petcolove.org/donate-form/" class="anchor" target="_blank">donate</a> on behalf of others.
    </p>
    <p>
      In this project, we leveraged
      <a href="https://nextjs.org/" class="anchor" target="_blank">Next.js</a>,
      <a href="https://www.contentful.com/" class="anchor" target="_blank">Contentful</a>,
      <a href="https://tailwindcss.com/" class="anchor" target="_blank">Tailwind CSS</a>, and adhered to atomic design
        principles to ensure a scalable and maintainable codebase. To uphold the highest standards of quality, we achieved full
        unit test coverage and utilized
      <a href="https://storybook.js.org/" class="anchor" target="_blank">Storybook</a>
      for streamlined component development. Embracing the benefits of
      <a href="https://www.typescriptlang.org/" class="anchor" target="_blank">TypeScript</a>, we prioritized type safety throughout the codebase.
                                        Furthermore, the use of Git
      <a href="https://git-scm.com/book/en/v2/Git-Tools-Submodules" class="anchor" target="_blank">sub-modules</a>
      facilitated efficient management of code dependencies.
    </p>
    <p>
      Notably, the project incorporated distinctive features for the
      <a href="https://petcolove.org/care/" class="anchor" target="_blank">Care</a>
      and
      <a href="https://petcolove.org/adopt/" class="anchor" target="_blank">Adopt</a>
      sub-websites. The Care section enables users to conveniently search for vaccine locations based on their current
      location, offering a seamless experience. Similarly, the Adopt section empowers users to explore pets for adoption while
      integrating seamlessly with shelters for pets.
    </p>
    <p>
      Throughout this endeavor, I effectively collaborated with a talented team to ensure the successful implementation of
      these features. Our collective efforts not only resulted in a robust and feature-rich project but also upheld the
      highest standards of code quality and best practices.
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">Senior Frontend React Developer</h3>
    <p class="text-gray-500 mb-2">
      <a href="https://www.lettucegrow.com/" class="anchor" target="_blank">LettuceGrow</a>
      <time datetime="2022-05">2022</time>
      -
      <time datetime="2023-04">2023</time>
    </p>
    <p>
      Working remotely with the LettuceGrow startup using
      <a href="https://www.gatsbyjs.com/" class="anchor" target="_blank">GatsbyJS</a>,
      <a href="https://www.datocms.com/" class="anchor" target="_blank">DatoCMS</a>,
      <a href="#" class="anchor" target="_blank">Redux</a>,
      <a href="#" class="anchor" target="_blank">Sagas</a>,
      <a href="#" class="anchor" target="_blank">Scrum</a>,
      <a href="#" class="anchor" target="_blank">GitFlow</a>,
      <a href="#" class="anchor" target="_blank">Firebase</a>
    </p>
    <p>
      I extended the existing website to provide: a new mobile/desktop menu. Repurposed the My Farm section to provide
      Recommended orders based on past purchases history.
    </p>
    <p>
      We also implemented a One click solution to convert a Recommended order into an actual order, with support to edit the
      order items using a customizable interface.
    </p>
    <p>
      Along with the FE team we designed a Feature Flag System to allow for A/B experiments to be executed smootly across the
      website with a combination of contentful data and custom Context API + custom hooks functions.
    </p>
    <p>
      Updating the overall structure we enabled the launch of a brand new product using the feature flag previously developed
      to allow preorders from early buyers.
    </p>
    <p>
      I worked on the newest planned V2 development Internal Ops system based on their existing platform designed from scratch
      with the aim to have better performance and GUI while retaining the existing features and improving/adding new requested
      features.
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">Senior Frontend Developer/Freelancer</h3>
    <p class="text-gray-500 mb-2">
      <a href="https://mattress.zone/" class="anchor" target="_blank">MattressZone</a>
      <time datetime="2021-01">2021</time>
      -
      <time datetime="2022-06-06">2022</time>
    </p>
    <p>
      Working remotely I developed a series of websites to promote affiliate links using
      <a href="https://www.gatsbyjs.com/" class="anchor" target="_blank">GatsbyJS</a>,
      <a href="https://www.datocms.com/" class="anchor" target="_blank">DatoCMS</a>
      and
      <a href="https://tailwindcss.com/" class="anchor" target="_blank">TailwindCSS.</a>
    </p>
    <p>All the websites are fully responsive with support for
      <span class="label">Dark mode</span>,
      <span class="label">Accesbility</span>
      and
      <span class="label">Multiple languages</span>.
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">Mid-Level Frontend Developer</h3>
    <p class="text-gray-500 mb-2">
      <a href="https://www.incore.com/" class="anchor" target="_blank">Incore</a>
      <time datetime="2020-01">2020</time>
      -
      <time datetime="2021-01">2021</time>
    </p>
    <p>
      Working remotely for a software agency that develops custom tailored website applications and
      <span class="label">E-commerce</span>
      using
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>,
      <a href="https://roots.io/sage/" class="anchor" target="_blank">Sage</a>
      <span class="label">Vanilla JS</span>,
      <span class="label">Sass</span>,
      <a href="https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/" target="_blank" class="anchor">ITCSS</a>,
      <a href="https://getbem.com/" target="_blank" class="anchor">BEM</a>
      and
      <a href="https://getbootstrap.com/" class="anchor" target="_blank">Bootstrap.</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">Software Applications and Web Development as a Freelancer</h3>
    <p class="text-gray-500 mb-2">
      Freelancer
      <time datetime="2018-01">2018</time>
      -
      <time datetime="2020-01">2020</time>
    </p>
    <p>
      Learned the benefits and challenges as a freelenacer to improve the:
      <span class="label">Client communication</span>,
      <span class="label">How to run costs</span>,
      <span class="label">Time management</span>,
      <span class="label">How to establish my brand
      </span>
      and of course my favourite...
      <span class="label">Work from home during the pandemic!</span>.
    </p>
    <p>
      I focused mostly on
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>
      and
      <a href="https://reactjs.org/" class="anchor">ReactJS</a>
      projects during this time.
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">Mid-Level Frontend Developer</h3>
    <p class="text-gray-500 mb-2">
      <a href="https://willingweb.com/" class="anchor" target="_blank">WillingWeb</a>
      <time datetime="2014-01">2014</time>
      -
      <time datetime="2018-01">2018</time>
    </p>
    <p>
      A software agency that develops custom tailored website applications and
      <span class="label">E-commerce</span>
      using
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>,
      <a href="https://oceanwp.org/" class="anchor" target="_blank">OceanWP</a>, developing custom widgets and addons for
      <a href="https://elementor.com/" class="anchor" target="_blank">Elementor</a>
      and
      <a href="https://getbootstrap.com/" class="anchor" target="_blank">Bootstrap.</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">Web Developer</h3>
    <p class="text-gray-500 mb-2">
      NoozooDesign
      <time datetime="2010-07">2010</time>
      -
      <time datetime="2014-01">2014</time>
    </p>
    <p>
      Working remotely for a web software agency that develops custom tailored website applications for
      <span class="label">e-learning</span>
      platform and services using:
      <a href="https://www.drupal.org/" class="anchor" target="_blank">Drupal</a>,
      <a href="https://moodle.org/" class="anchor" target="_blank">Moodle</a>,
      <a href="https://www.codeigniter.com/" class="anchor" target="_blank">CodeIgniter</a>
      and
      <a href="https://get.foundation/" class="anchor" target="_blank">Foundation</a>
    </p>
    <p>
      The main advantage of working for this company was that I learned the Adaptability and Flexibility to work on multiple
      frameworks and setups.
    </p>
    <p>
      I also created a custom spreadsheet application with the goal to be used as a tool to train users with advanced usages
      for excel and similar programs, by providing a series of excercices with automatic validation, ease of customization and
      the creation of new exercises.
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">Web Developer</h3>
    <p class="text-gray-500 mb-2">
      Validoc
      <time datetime="2010-01">2010</time>
    </p>
    <p>
      A software agency that focused on the development of
      <span class="label">E-commerce</span>
      and
      <span class="label">Progressive web apps</span>, using mostly
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">Project Manager</h3>
    <p class="text-gray-500 mb-2">
      DesignBoxweb
      <time datetime="2009-01">2009</time>
      -
      <time datetime="2010-01">2010</time>
    </p>
    <p>
      A web software agency that develops custom tailored website applications using:
      <a href="https://www.codeigniter.com/" class="anchor" target="_blank">CodeIgniter</a>
      and
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>
    </p>
    <p>
      When I joined the crew in DesignBoxweb I inherited a very unstable CMS that it was a mystery to the other employees, a
      web application that was inaccessible and only worked in Internet Explorer, and a technical team that had no members.
    </p>
    <p>
      I redesigned the CMS giving it more stability and scalability according to customer requirements of this project, and
      managed to build a successful technical team.
    </p>
    <p>
      I ended up developing a custom CMS after that experience based on CodeIgniter that I used during my freelancer stage.
    </p>
    <p>
      Working with
      <a href="https://wordpress.org/" class="anchor" target="_blank">Wordpress</a>
      I managed to implement a very clean structure that provided a solid foundation for the websites to receive updates
      safely over time.
    </p>
  </p>
</article>
<article>
  <h3 class="h3 mb-1">Project Manager</h3>
  <p class="text-gray-500 mb-2">
    WebStudio
    <time datetime="2018-01">2007</time>
    -
    <time datetime="2020-01">2009</time>
  </p>
  <p>
    A local web software agency that develops custom tailored website applications using:
    <a href="https://www.codeigniter.com/" class="anchor" target="_blank">CodeIgniter</a>,
    <a href="https://cakephp.org/" class="anchor" target="_blank">CakePHP</a>,
    <a href="https://symfony.com/" class="anchor" target="_blank">Symfony</a>,
    <a href="https://www.zen-cart.com/" class="anchor" target="_blank">Zen-cart</a>
  </p>
  <p>
    This was my first serious job. And I was able to move up the ranks from
    <span class="label">Programer</span>
    to
    <span class="label">Team Lead</span>
    to
    <span class="label">Project Manager</span>, and sometimes Designer roles, but all of this happened over many iterations,
      so one of the best achievements for me was that I was able to experience the whole process and improve my technical and
      soft skills.
  </p>
</article>
<article>
  <h3 class="h3 mb-1">English teacher</h3>
  <p class="text-gray-500 mb-2">
    Bolivian Army Language School
    <time datetime="2009-01">2009</time>
    -
    <time datetime="2010-01">2010</time>
  </p>
  <p>
    This was a nice side gig at a language school. That allowed me to improve my
    <span class="label">English</span>
    level but also my
    <span class="label">Teaching</span>
    and
    <span class="label">Learning</span>
    strategies.
  </p>
</article></section>
