<section class="px-4 lg:px-0 mb-12">
  <h2 id="projects" class="h2 mb-4">
    Projects
  </h2>
  
  <article>
    <h3 class="h3 mb-1">
      Lettucegrow.com
      <a href="https://www.lettucegrow.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      ReactJS, GatbysJS, Redux, Sagas, Scrum, GitFlow
    </p>
    <p>
      Main website and online store for LettuceGrow, optimized for web and mobile visitors. 
      With enhanced support for Stripe, Affirm, Google and Apple Pay systems.
      Using a complex data driven system we were able to implement a Recommended Order feature for our clients to receive and perform one click order submission with the goal to increase the overall sales of the Farmstand device and subsequent seedlings purchases.
      <a href="https://www.lettucegrow.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  
  <article>
    <h3 class="h3 mb-1">
      Mattress.zone
      <a href="https://mattress.zone/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      ReactJS, GatbysJS, Tailwindcss, DatoCMS, PWA
    </p>
    <p>
      A set of multiple websites with different languages: spanish, english, german, french, italian. With Dark mode support, that allows any visitor to 
      perform dyanmic side by side comparissons for mattresses up to 4 items.
      With high page speed scores.
      <a href="https://mattress.zone/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      Louvresystems
      <a href="https://www.louvresystems.co.nz/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Sage, Custom plugin
    </p>
    <p>
      This project had a nice challenge to migrate a really old codebase that performed calucaltions of materials needed for the assembly of louvers for any given project, into gravityforms and custom addons developed specifically for this project.
      <a href="https://www.louvresystems.co.nz/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      CME Center
      <a href="https://www.cmecenter.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpres, ReactJS
    </p>
    <p>
      Presentational website using React with styled components as the frontend and a custom framework with Wordpress as the backend
      <a href="https://www.cmecenter.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      Tecma
      <a href="https://www.tecma.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Bedrock, Sage, Blade
    </p>
    <p>
      Presentational website with a custom page builder based on Gutenberg blocks
      <a href="https://www.tecma.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      Pralaw
      <a href="https://stage.pralaw.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Bedrock, Sage, Blade
    </p>
    <p>
      Presentational website with a custom page builder based on Gutenberg blocks, with a high performance
      <a href="https://stage.pralaw.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      EliteEditing
      <a href="https://www.eliteediting.com.au/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Elementor, Gravityforms
    </p>
    <p>
      Responsive website used to coordinate the projects of freelancing editors. The project uses a custom page builder based on Gutenberg blocks, 
      with high performance and a custom gravityforms addon developed to fit the client's requirements.
      <a href="https://www.eliteediting.com.au/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      SmartartSouth
      <a href="https://smartartsouth.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Sage
    </p>
    <p>
      Web Agency main website
      <a href="https://smartartsouth.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      Community Cleaning and Maintenance
      <a href="https://communitycleaningandmaintenance.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Sage
    </p>
    <p>
      Simple website
      <a href="https://communitycleaningandmaintenance.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      Glennsflooring
      <a href="https://glennsflooring.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Custom Plugins developed
    </p>
    <p>
      Simple website
      <a href="https://glennsflooring.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      Dixiefry
      <a href="https://dixiefry.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Custom Plugins developed
    </p>
    <p>
      Built on a budget. Very clean code with custom effects for the recipes
      <a href="https://dixiefry.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      Oh-institute
      <a href="https://oh-institute.org/main/home.php" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      PHP, Plain code
    </p>
    <p>
      It was one of my very first projects and it's still alive! I'm happy to list it here.
      <a href="https://oh-institute.org/main/home.php" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      BoardDirection
      <a href="https://boarddirection.com.au/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Elementor, Custom plugin, Woocommerce, Subscriptions
    </p>
    <p>
      Responsive online training website with Membership e-commerce
      <a href="https://boarddirection.com.au/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      BuildinOZ
      <a href="https://buildinoz.com.au/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Sage
    </p>
    <p>
      Responsive real state website, with focus on marketing and analitics
      <a href="https://buildinoz.com.au/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      GreenTestPrep
      <a href="https://greentestprep.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Keap formerly infusionsoft
    </p>
    <p>
      Responsive training program for SAT and ACT exams with integration to an external CRM system
      <a href="https://greentestprep.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>

  <article>
    <h3 class="h3 mb-1">
      EpicProacademy
      <a href="https://epicproacademy.com/" target="_blank">
        <img src="assets/images/link2.svg" alt="Link to the website" class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Custom plugin, Keap formerly infusionsoft, Learndash
    </p>
    <p>
      Responsive website that sells training programs for real state businesses
      <a href="https://epicproacademy.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
</section>
