<section class="px-4 lg:px-0 mb-12">
  <h2 id="projects" class="h2 mb-4">
    Projects
  </h2>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://petcolove.org/lost" target="_blank">PetcoLove.org/lost</a>
      <a href="https://petcolove.org/lost" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      ReactJS, NextJS, Typescript, Tailwindcss, Scrum, GitFlow, Contentful, UnitTesting, Storybook, Atomic Design, AI, BigQuery
    </p>
    <p>
      This project is a subset of the main petcolove.org app and also adheres to the Atomic Design principles, 
      fostering a scalable and reusable design system.<br/> It boasts
      comprehensive 100% test coverage to uphold the highest standards of code quality and reliability. TypeScript is
      implemented to enhance type safety and bolster maintainability.
      <br/> Next.js serves as the frontend framework, prioritizing a mobile-first approach to ensure a responsive design.
      <br/> The use of Storybook facilitates the development and presentation of individual UI components, while Tailwind CSS
      is leveraged for styling, promoting a consistent and efficient design system.
      <br/> Additionally, Contentful is employed as the CMS, aligning with the Assembly and Topic model to empower content
      editors in seamlessly managing and updating content.
      <br /> We decided to make the best of reusable components by integrating a git submodule so we can share the atoms, molecules and organisms across multiple sub-projects
      <a href="https://petcolove.org/lost" class="anchor" target="_blank">visit project</a> and perform a lost pet search to experience the user flow
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://petcolove.org/" target="_blank">PetcoLove.org</a>
      <a href="https://petcolove.org/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      ReactJS, NextJS, Typescript, Tailwindcss, Scrum, GitFlow, Contentful, UnitTesting, Storybook, Atomic Design
    </p>
    <p>
      This project adheres to the Atomic Design principles, fostering a scalable and reusable design system.<br/> It boasts
      comprehensive 100% test coverage to uphold the highest standards of code quality and reliability. TypeScript is
      implemented to enhance type safety and bolster maintainability.
      <br/> Next.js serves as the frontend framework, prioritizing a mobile-first approach to ensure a responsive design.
      <br/> The use of Storybook facilitates the development and presentation of individual UI components, while Tailwind CSS
      is leveraged for styling, promoting a consistent and efficient design system.
      <br/> Additionally, Contentful is employed as the CMS, aligning with the Assembly and Topic model to empower content
      editors in seamlessly managing and updating content.
      <a href="https://petcolove.org/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://www.lettucegrow.com/" target="_blank">Lettucegrow.com</a>
      <a href="https://www.lettucegrow.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      ReactJS, GatbysJS, Redux, Sagas, Scrum, GitFlow, Contentful
    </p>
    <p>
      LettuceGrow's main website and online store are optimized for web and mobile visitors, delivering an exceptional
      shopping experience across all devices. The store includes enhanced support for popular payment systems, such as Stripe,
      Affirm, Google, and Apple Pay, ensuring a seamless and secure checkout process.
      <br/> Using a complex data-driven system, a Recommended Order feature has been implemented to offer customers a
      personalized shopping experience and one-click order submission. This feature recommends products based on the
      customer's previous purchases and order history, with a goal of increasing sales of the Farmstand device and subsequent
      seedling purchases.
      <br/> Overall, the LettuceGrow website and online store offer a user-friendly interface, easy navigation, and a range of
      payment options, making it easier than ever for customers to shop and enjoy fresh, homegrown produce.
      <a href="https://www.lettucegrow.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://mattress.zone/" target="_blank">Mattress.zone</a>
      <a href="https://mattress.zone/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      ReactJS, GatbysJS, Tailwindcss, DatoCMS, PWA
    </p>
    <p>
      A set of multiple websites with different languages: spanish, english, german, french, italian. With Dark mode support,
      that allows any visitor to perform dyanmic side by side comparissons for mattresses up to 4 items. With high PageSpeed
      scores.
      <a href="https://mattress.zone/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://www.louvresystems.co.nz/" target="_blank">Louvresystems</a>
      <a href="https://www.louvresystems.co.nz/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Sage, Custom plugin
    </p>
    <p>
      This project had a nice challenge to migrate a really old codebase that performed calucaltions of materials needed for
      the assembly of louvers for any given project, into gravityforms and custom addons developed specifically for this
      project.
      <a href="https://www.louvresystems.co.nz/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://www.cmecenter.com/" target="_blank">CME Center</a>
      <a href="https://www.cmecenter.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpres, ReactJS
    </p>
    <p>
      Presentational website using React with styled components as the frontend and a custom framework with Wordpress as the
      backend
      <a href="https://www.cmecenter.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://www.tecma.com/" target="_blank">Tecma</a>
      <a href="https://www.tecma.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Bedrock, Sage, Blade
    </p>
    <p>
      Presentational website with a custom page builder based on Gutenberg blocks
      <a href="https://www.tecma.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://stage.pralaw.com/" target="_blank">Pralaw</a>
      <a href="https://stage.pralaw.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Bedrock, Sage, Blade
    </p>
    <p>
      Presentational website with a custom page builder based on Gutenberg blocks, with a high performance
      <a href="https://stage.pralaw.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://www.eliteediting.com.au/" target="_blank">EliteEditing</a>
      <a href="https://www.eliteediting.com.au/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Elementor, Gravityforms
    </p>
    <p>
      Responsive website used to coordinate the projects of freelancing editors. The project uses a custom page builder based
      on Gutenberg blocks, with high performance and a custom gravityforms addon developed to fit the client's requirements.
      <a href="https://www.eliteediting.com.au/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://smartartsouth.com/" target="_blank">SmartartSouth</a>
      <a href="https://smartartsouth.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Sage
    </p>
    <p>
      Web Agency main website
      <a href="https://smartartsouth.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://communitycleaningandmaintenance.com/" target="_blank">Community Cleaning and Maintenance</a>
      <a href="https://communitycleaningandmaintenance.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Sage
    </p>
    <p>
      Simple website
      <a href="https://communitycleaningandmaintenance.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://glennsflooring.com/" target="_blank">Glennsflooring</a>
      <a href="https://glennsflooring.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Custom Plugins developed
    </p>
    <p>
      Simple website
      <a href="https://glennsflooring.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://dixiefry.com/" target="_blank">Dixiefry</a>
      <a href="https://dixiefry.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Custom Plugins developed
    </p>
    <p>
      Built on a budget. Very clean code with custom effects for the recipes
      <a href="https://dixiefry.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://oh-institute.org/main/home.php" target="_blank">Oh-institute</a>
      <a href="https://oh-institute.org/main/home.php" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      PHP, Plain code
    </p>
    <p>
      It was one of my very first projects and it's still alive! I'm happy to list it here.
      <a href="https://oh-institute.org/main/home.php" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://boarddirection.com.au/" target="_blank">BoardDirection</a>
      <a href="https://boarddirection.com.au/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Elementor, Custom plugin, Woocommerce, Subscriptions
    </p>
    <p>
      Responsive online training website with Membership e-commerce
      <a href="https://boarddirection.com.au/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://buildinoz.com.au/" target="_blank">BuildinOZ</a>
      <a href="https://buildinoz.com.au/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Sage
    </p>
    <p>
      Responsive real state website, with focus on marketing and analitics
      <a href="https://buildinoz.com.au/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://greentestprep.com/" target="_blank">GreenTestPrep</a>
      <a href="https://greentestprep.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Keap formerly infusionsoft
    </p>
    <p>
      Responsive training program for SAT and ACT exams with integration to an external CRM system
      <a href="https://greentestprep.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
  <article>
    <h3 class="h3 mb-1">
      <a href="https://epicproacademy.com/" target="_blank">EpicProacademy</a>
      <a href="https://epicproacademy.com/" target="_blank">
        <img
          src="assets/images/link2.svg"
          alt="Link to the website"
          class="inline w-5 hover:animate-shake-icon relative -top-[2px]"/>
      </a>
    </h3>
    <p class="text-gray-500 mb-2">
      Wordpress, Custom plugin, Keap formerly infusionsoft, Learndash
    </p>
    <p>
      Responsive website that sells training programs for real state businesses
      <a href="https://epicproacademy.com/" class="anchor" target="_blank">visit project</a>
    </p>
  </article>
</section>
