---
layout: base
title: "CV"
tags: page
---

<div class="flex flex-wrap justify-between px-4 lg:px-0">
  {% include "sections/education.njk" %}

  {% include "sections/skills.njk" %}
</div>

{% include "sections/experience.njk" %}

{% include "sections/projects.njk" %}