<footer class="bg-black text-white py-4">
  <div class="max-w-3xl xl:max-w-6xl mx-auto px-4 lg:px-0">
    <p class="text-center text-sm">&copy; {% currentYear %} Jorge Cortez. All rights reserved</p>
  </div>
</footer>