<header class="max-w-3xl xl:max-w-6xl mx-auto flex flex-wrap justify-between px-4 lg:px-0 border-b-2 border-gray-300 my-6">
    <section id="hero" class="basis-full sm:basis-3/6 py-4">
        <h1 class="h1 mb-4">
            <small>Hello, I'm</small>
            <br/>
            <span class="text-gray-500">Jorge Cortez</span>
        </h1>
        <p id="tagline" class="text-gray-400 text-lg mb-2">
            I'm a Senior Frontend Developer from Bolivia.
        </p>
        <ul class="flex items-center space-x-4">
            <li>
                <a href="mailto:ferco_clpm@hotmail.com" target="_blank" rel="nofollow noreferrer">
                    <img src="assets/images/email.svg" alt="Email" class="w-10 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"/>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/jorge-fernando-cortez-guillen-a56a8222/" target="_blank" rel="nofollow noreferrer">
                    <img src="assets/images/linkedin.svg" alt="Linkedin" class="w-10 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"/>
                </a>
            </li>
            <li>
                <a href="https://github.com/ElBatou" target="_blank" rel="nofollow noreferrer">
                    <img src="assets/images/github.svg" alt="Github" class="w-10 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"/>
                </a>
            </li>
            <li>
                <a href="https://fernandoclpm.wordpress.com/" target="_blank" rel="nofollow noreferrer">
                    <img src="assets/images/wordpress.svg" alt="Blog" class="w-10 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110"/>
                </a>
            </li>
        </ul>
    </section>
    <section id="contact" class="basis-full sm:basis-2/6 py-4">
        <dl>
            <dt class="font-bold">Website:</dt>
            <dd class="text-gray-400 mb-4">
                <a href="https://fernandoclpm.wordpress.com/" target="_blank">fernandoclpm.wordpress.com</a>
            </dd>

            <dt class="font-bold">Email:</dt>
            <dd class="text-gray-400 mb-4">
                <a href="mailto:ferco_clpm@hotmail.com">ferco_clpm@hotmail.com</a>
            </dd>

            <dt class="font-bold">Phone:</dt>
            <dd class="text-gray-400 mb-4">
                <a href="tel:59172722547">(591)-727-22547</a>
            </dd>
        </dl>
    </section>
</header>